.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
  background: #f4f6f9;
}

.login-card {
  width: 100%;
  max-width: 400px;
}

.p-field {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.w-full {
  width: 100%;
}
